[submodule "dependencies/tiny-stl"]
	path = dependencies/tiny-stl
	url = https://github.com/LRLVEC/tiny-stl
[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/LRLVEC/glfw
